RestaurantReviewSystem/RestaurantReviewSystem-WebClient/Connected Services/RestaurantServiceReference/RestaurantService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RestaurantService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IRestaurantService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8000/RestaurantService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8000/RestaurantService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8000/RestaurantService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RestaurantReviewSystem.Model" />
      <xsd:import schemaLocation="http://localhost:8000/RestaurantService?xsd=xsd3" />
      <xsd:import schemaLocation="http://localhost:8000/RestaurantService?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRestaurantService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_SignInUser_InputMessage">
    <wsdl:part name="parameters" element="tns:SignInUser" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_SignInUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignInUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_AddRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRestaurant" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_AddRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_DeleteRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRestaurant" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_DeleteRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_UpdateRestaurant_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRestaurant" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_UpdateRestaurant_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetAllRestaurants_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurants" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetAllRestaurants_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRestaurantsResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_AddReview_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReview" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_AddReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetRestaurantNames_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantNames" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetRestaurantNames_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRestaurantNamesResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserId" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetAllReviews_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReviews" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetAllReviews_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllReviewsResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_UpdateReview_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReview" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_UpdateReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_DeleteReview_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReview" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_DeleteReview_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReviewResponse" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetReviewForOneUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewForOneUser" />
  </wsdl:message>
  <wsdl:message name="IRestaurantService_GetReviewForOneUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReviewForOneUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IRestaurantService">
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/RegisterUser" message="tns:IRestaurantService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/RegisterUserResponse" message="tns:IRestaurantService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignInUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/SignInUser" message="tns:IRestaurantService_SignInUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/SignInUserResponse" message="tns:IRestaurantService_SignInUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/UpdateUser" message="tns:IRestaurantService_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/UpdateUserResponse" message="tns:IRestaurantService_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/DeleteUser" message="tns:IRestaurantService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/DeleteUserResponse" message="tns:IRestaurantService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/GetAllUsers" message="tns:IRestaurantService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/GetAllUsersResponse" message="tns:IRestaurantService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/AddRestaurant" message="tns:IRestaurantService_AddRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/AddRestaurantResponse" message="tns:IRestaurantService_AddRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/DeleteRestaurant" message="tns:IRestaurantService_DeleteRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/DeleteRestaurantResponse" message="tns:IRestaurantService_DeleteRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateRestaurant">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/UpdateRestaurant" message="tns:IRestaurantService_UpdateRestaurant_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/UpdateRestaurantResponse" message="tns:IRestaurantService_UpdateRestaurant_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurants">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/GetAllRestaurants" message="tns:IRestaurantService_GetAllRestaurants_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/GetAllRestaurantsResponse" message="tns:IRestaurantService_GetAllRestaurants_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/AddReview" message="tns:IRestaurantService_AddReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/AddReviewResponse" message="tns:IRestaurantService_AddReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantNames">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/GetRestaurantNames" message="tns:IRestaurantService_GetRestaurantNames_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/GetRestaurantNamesResponse" message="tns:IRestaurantService_GetRestaurantNames_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/GetUserId" message="tns:IRestaurantService_GetUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/GetUserIdResponse" message="tns:IRestaurantService_GetUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllReviews">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/GetAllReviews" message="tns:IRestaurantService_GetAllReviews_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/GetAllReviewsResponse" message="tns:IRestaurantService_GetAllReviews_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/UpdateReview" message="tns:IRestaurantService_UpdateReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/UpdateReviewResponse" message="tns:IRestaurantService_UpdateReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReview">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/DeleteReview" message="tns:IRestaurantService_DeleteReview_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/DeleteReviewResponse" message="tns:IRestaurantService_DeleteReview_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetReviewForOneUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestaurantService/GetReviewForOneUser" message="tns:IRestaurantService_GetReviewForOneUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestaurantService/GetReviewForOneUserResponse" message="tns:IRestaurantService_GetReviewForOneUser_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRestaurantService" type="tns:IRestaurantService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignInUser">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/SignInUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRestaurant">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/AddRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRestaurant">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/DeleteRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRestaurant">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/UpdateRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurants">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/GetAllRestaurants" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReview">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/AddReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantNames">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/GetRestaurantNames" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/GetUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReviews">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/GetAllReviews" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReview">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/UpdateReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReview">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/DeleteReview" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviewForOneUser">
      <soap:operation soapAction="http://tempuri.org/IRestaurantService/GetReviewForOneUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IRestaurantService" type="tns:IRestaurantService">
    <wsp:PolicyReference URI="#NetTcpBinding_IRestaurantService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterUser">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/RegisterUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignInUser">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/SignInUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/UpdateUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRestaurant">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/AddRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRestaurant">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/DeleteRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateRestaurant">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/UpdateRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRestaurants">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/GetAllRestaurants" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddReview">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/AddReview" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurantNames">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/GetRestaurantNames" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserId">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/GetUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllReviews">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/GetAllReviews" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateReview">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/UpdateReview" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReview">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/DeleteReview" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReviewForOneUser">
      <soap12:operation soapAction="http://tempuri.org/IRestaurantService/GetReviewForOneUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestaurantService">
    <wsdl:port name="BasicHttpBinding_IRestaurantService" binding="tns:BasicHttpBinding_IRestaurantService">
      <soap:address location="http://localhost:8000/RestaurantService/RestaurantService" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IRestaurantService" binding="tns:NetTcpBinding_IRestaurantService">
      <soap12:address location="net.tcp://localhost:8010/RestaurantService/RestaurantService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8010/RestaurantService/RestaurantService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-AFVHUA3\Utsav</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>